body {
  font-family: 'Gamja Flower', cursive;
}
#title {
  color: #ff8a80;
}
#story {
  color: #ffebee;
}

.couple-info {
  color:#ffcdd2;
}

#gallery {
  color: #ef9a9a;
  text-align: center;
}

#directions {
  color: #e57373;
}

.header {
  text-align: center;
}

#icons {
  padding-top: 20px;
  text-align: center;
}

#map {
  text-align: center;
}

.carousel {
  min-height: 900px;
}