body {
  font-family: 'Gamja Flower', cursive;
}
#title {
  color: #ff8a80;
}
#story {
  color: #ffebee;
}

.couple-info {
  color:#ffcdd2;
}

#gallery {
  color: #ef9a9a;
  text-align: center;
}

#directions {
  color: #e57373;
}

.header {
  text-align: center;
}

#icons {
  padding-top: 20px;
  text-align: center;
}

#map {
  text-align: center;
}

@media (min-height: 1401px) {
  .carousel-slider {
    height: 900px;
  }

  iframe {
    height: 800px;
    width: 1000px
  }
}
@media (max-height: 1400px) and (min-height: 851px) {
  .carousel-slider {
    height: 500px;
  }

  iframe {
    height: 400px;
    width: 600px
  }
}

@media (max-height: 850px) {
  .carousel-slider {
    height:230px;
  }

  iframe {
    height: 300px;
    width: 300px
  }
}

.dot {
  height: 250px;
  width: 250px;
  background-color: #ffcdd2;
  border-radius: 50%;
  display: inline-block;
}

.days {
  font-size: 70px;
  display: flexbox;
  line-height: 250px;
}

.smalltext {
  font-size: 30px;
}

.circle {
  text-align: center;
}

.responsive-iframe {
  display: flex;
  justify-content: center;
}

#gallery-left {
  margin: 15px;
}

#gallery-right {
  margin: 15px;
}